@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Rokkitt:400,500,600&display=swap');

html,body{ margin: 0; padding: 0; font-family: 'Roboto', sans-serif; background:#f4fbfc}
body { margin: 0; font-weight: 400; font-size: 14px;}
.nav-bg{background: #fff; box-shadow: 1px 0 20px #ddd }
.table-scroll {height: 400px; overflow-y: auto; 
}

.nav-link {
  font-size: 16px;
}
.nav-link { color: #666}
.active { color: rgba(26, 58, 174, 0.72);}


.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.qty1, .qty1:focus, .qty2, .qty2:focus {
  border: none;
  width:50px;
  background: transparent;
  outline: none;
}




.like, .dislike { padding: 0}
.card-title {
  margin-bottom: .75rem;
  color: rgba(26, 58, 174, 0.72);
}
.list-group {
  list-style: none; margin: 0 !important;
}
.list-group-item { padding: 5px}

.greencolor, .greencolor:hover {color: #5cc03e}

.redcolor,.redcolor:hover {color: #f32652}
.bg-blue{
  background: rgba(2, 22, 97, 0.72)
}
.bg-blue h5.card-title{
 color:#fff;
 font-family: 'Rokkitt', serif;
}
.card-title {  font-size: 30px; font-family: 'Rokkitt', serif; font-size: 600}
.card-header { font-size: 18px; font-weight: 400; letter-spacing: 1px; color: #fff; background-color: rgba(26, 58, 174, 0.72); border: none}
.column-headers-background, .row-header-wrapper{ display:none}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: rgba(26, 58, 174, 0.72);
  border-color: rgba(26, 58, 174, 0.72);
}
.page-link, a {
  color:rgba(26, 58, 174, 0.72)}

.table .thead-light th{    background-color: rgba(26, 58, 174, 0.72);
  border-color: rgba(26, 58, 174, 0.72);
  color: #fff;}

.sub-text {font-size: 13px;margin: 0; letter-spacing: 0.5px; color: #b0daff !important;}